:root {
    --primary: #fed;
    --accent: #012;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
}

form, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, p {
    list-style: none outside none
}

a {
    text-decoration: none;
    color: var(--accent);
    outline: none
}

a:hover {
    text-decoration: underline;
    color: var(--accent);
}

a img {
    border: none
}

.fr {
    float: right
}

.fl {
    float: left
}

body {
    font: 12px/1.8 Verdana, Geneva, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: var(--primary);
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/noise.png');
    pointer-events: none;
    z-index: 10000;
}

.icon {
    width: 64px;
    height: 64px;
    border: 2px solid var(--accent);
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 0 var(--accent);
}
#task-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 9999;
}

.task-window {
    height: 80px;
    width: max-content;
    padding: 8px;
    margin: 0 auto;
}

.task-window li {
    position: relative;
    float: left;
    width: 80px;
    height: 64px;
    cursor: pointer
}

.task-window b {
    display: block;
    height: 64px;
    font-weight: normal;
    text-align: center;
}

.task-window b:hover {
    transform: translateY(-10px);
}

.task-window b:active {}

.task-window b.focus i {
    transform: scale(1.2);
}

.task-window b:hover span {
    display: inline-block;
}

.task-window span {
    display: none;
    padding: 0 8px;
    margin: 0 auto;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    position: relative;
    top: -96px;
    background: var(--accent);
    color: var(--primary);
    white-space: nowrap;
}

#desk {
    position: absolute;
    top: 0;
    bottom: 80px;
    width: 100%;
}

#desk ul li,
#desk ul li span,
.title-bar {
    user-select: none
}

#desk ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute
}

#desk ul li {
    width: 120px;
    height: 90px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

#desk ul li:hover i {
    transform: scale(1.2);
}

#desk ul li i, #task-bar ul li i {
    display: inline-block;
    text-align: center;
    font-size: 38px;
    line-height: 62px;
    color: var(--accent);
}

#desk ul li span {
    display: inline-block;
    color: var(--accent);
    height: 24px;
    line-height: 24px;
    margin-top: 4px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.window-container {
    position: absolute;
    padding: 2px;
    overflow: hidden;
    border-radius: 4px;
    background: var(--accent);
    box-shadow: 4px 4px 0 var(--accent);
}

.window-current {}

.title-bar {
    position: relative;
    z-index: 10;
    height: 24px;
    padding: 0;
    line-height: 24px;
    overflow: hidden;
    background: var(--primary);
    color: var(--accent);
    cursor: move;
    border-radius: 2px 2px 0 0;
    text-align: center;
}

.title-handle {
    color: var(--primary);
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-left: 4px;
}

.title-handle:hover {
    color: var(--accent);
}

.title-handle a {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    border: 2px solid var(--accent);
    background: var(--primary);
    color: inherit;
    margin: 4px 4px 4px 0;
    line-height: 12px;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    font-weight:bold;
}

.title-handle a:hover {
    text-decoration: none;
}

.title-handle a:active {
    background: var(--accent);
    color: var(--primary);
}

.ha-min {}

.ha-min:hover {}

.ha-max {}

.ha-max:hover {}

.ha-revert {}

.ha-revert:hover {}

.ha-close {}

.ha-close:hover {}

.window-frame {
    position: absolute;
    top: 28px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: var(--primary);
    border-radius: 0 0 2px 2px;
    overflow: hidden;
}

.window-frame iframe {
    position: absolute;
    border: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
