:root {
    --primary: #fed;
    --accent: #012;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

dd, dl, dt, form, h1, h2, h3, h4, h5, li, ol, p, ul {
    list-style: none outside none;
}

a {
    text-decoration: none;
    color: var(--accent);
    outline: none
}

a:hover {
    text-decoration: none;
    color: var(--accent);
}

body {
    font: 12px/1.8 Verdana, Geneva, sans-serif;
    letter-spacing: 0.05em;
    height: 100%;
    width: 100%;
    background: var(--primary);
    color: var(--accent);
}

::-webkit-scrollbar-track {
    background-color: var(--primary);
}

::-webkit-scrollbar {
    width: 16px;
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4px solid var(--primary);
    background-color: var(--accent);
}

#book-drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#book-drawer .section {
    padding: 12px 0;
}

#book-drawer h1 {
    font-size: 14px;
    font-weight: lighter;
    line-height: 14px;
    padding: 8px 20px;
}

.toc li {
    font-size: 12px;
    font-weight: lighter;
    line-height: 12px;
    padding: 2px 12px;
    cursor: pointer;
}

.toc a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
    max-width: 194px;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.toc a:hover {
    border-color: var(--accent);
}

.toc a:active {}

.toc a.focus {
    background: var(--accent);
    color: var(--primary);
    border-color: var(--accent);
}

#book-frame {
    position: absolute;
    top: 0;
    right: 0;
    left: 240px;
    height: 100%;
    overflow: hidden;
}

.book-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.book-container iframe {
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    float: left;
}

.book {
    font: 16px/1.6 Georgia, serif;
    letter-spacing: 0.03em;
    max-width: 400px;
    margin: 5em auto;
}

.book h1 {
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

.chapter {
    margin-bottom: 2em;
}

.chapter h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 1em;
}

.verse {
    text-align: justify;
    hyphens: auto;
    padding-bottom: 0.5em;
}

.verse i {
    font-size: 10px;
    opacity: 0.5;
    vertical-align: top;
}
